#vid{
    border: 2px solid rgb(124, 124, 124);
    height:450px;
    width:350px;
    margin: 15px;
    padding:15px;
    text-align: center;  
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}